In [1]:
from ffiec_data_connect import methods, credentials, ffiec_connection
import pandas as pd
import snowflake.snowpark as snowpark
from snowflake.connector.pandas_tools import write_pandas
import time
from zeep.exceptions import Fault
#creds = credentials.WebserviceCredentials(username="your-username", password="your-token")
creds = credentials.WebserviceCredentials(username="whills12", password="vGzHZX7EAsPCwfXuV6pI")
conn = ffiec_connection.FFIECConnection()

In [2]:
username= "WALKERHILLS"
password = "h!123@iLLs#"
account= "lrlwqdb-yib23397"
role = "ACCOUNTADMIN"
warehouse = "COMPUTE_WH"
database = "CALLREPORTDB"
schema = "PUBLIC"

In [3]:
connection_parameters = {
"user": username,
"password": password,
"account": account,
"role": role,
"warehouse": warehouse,
"database": database,
"schema": schema }
session = snowpark.session.Session.builder.configs(connection_parameters).create()

In [25]:
session.close()

In [15]:
df_schema = session.sql("DESCRIBE TABLE SCHEDULE_ENT;").collect()
schema_cols = pd.DataFrame(df_schema)
schema_cols['name']

0    RCON9224
1    RCON9999
2    RSSD9017
3    RSSD9130
4    RSSD9200
5    RSSD9220
6      IDRSSD
Name: name, dtype: object

In [55]:
row_count = session.sql("SELECT COUNT(*) AS row_count FROM SCHEDULE_ENT;").collect()
df = pd.DataFrame(row_count)
print(f'{df["ROW_COUNT"][0]} values inserted into table _')

0 values inserted into table _

In [4]:
def print_row_count(session: snowpark.Session, t):
    row_count = session.sql("SELECT COUNT(*) AS row_count FROM SCHEDULE_ENT;").collect()
    df = pd.DataFrame(row_count)
    return print(f'{df["ROW_COUNT"][0]} values inserted into table {t}')

In [5]:
def grab_table_name(session: snowpark.Session):
    tables = session.sql('''SELECT TABLE_NAME
    FROM INFORMATION_SCHEMA.TABLES
    WHERE TABLE_SCHEMA = 'PUBLIC';''').collect()
    table_names = pd.DataFrame(tables)
    table_list = table_names['TABLE_NAME'].tolist()
    table_list.remove('SCHEDULE_METADATA')
    return table_list

In [6]:
def grab_table_schema(session: snowpark.Session, table_name):
    df_schema = session.sql(f"DESCRIBE TABLE {table_name};").collect()
    schema_cols = pd.DataFrame(df_schema)
    return pd.DataFrame(columns=schema_cols['name'].tolist()), schema_cols['name'].tolist()

In [17]:
def grab_id_data(reporting_periods):
    skipper = 0
    for rp in reporting_periods:
        filers = methods.collect_filers_on_reporting_period(
        session=conn,
        creds=creds,
        reporting_period=rp,
        output_type="pandas")
        id_rssd_list = filers['id_rssd'].tolist()
        print('Processing period: ', rp)
        print("The time was : ", time.ctime())
        for id_rssd in id_rssd_list:
            try:
                df = methods.collect_data(
                    session=conn,
                    creds=creds,
                    rssd_id=id_rssd,
                    reporting_period=rp,
                    series="call",
                    output_type='pandas'
                )

                result_df = pd.DataFrame(columns=df['mdrm'].unique())
                for index, row in df.iterrows():
                    mdrm = row['mdrm']
                    data_type = row['data_type']
                    if data_type == 'str':
                        value = row['str_data']
                    elif data_type == 'bool':
                        value = row['bool_data']
                    elif data_type == 'float':
                        value = row['float_data']
                    elif data_type == 'int':
                        value = row['int_data']
                    else:
                        value = None
                    result_df.at[0, mdrm] = value
                result_df.insert(0, 'IDRSSD',id_rssd)
                result_df['RCON9999']=pd.to_datetime(result_df['RCON9999'], format='%Y%m%d.%f').dt.strftime('%Y%m%d')
                date_column = result_df.pop('RCON9999') 
                result_df.insert(1, 'RCON9999', date_column) 
                if skipper == 0:
                    final_df = result_df
                    skipper+=1
                else:
                    final_df = pd.concat([final_df,result_df]).reset_index(drop=True)
                time.sleep(1.5)
            except Fault as e:
                print(f'The IDRSSD: {id_rssd} is not available for reporting period {rp}: printing fault statement {e}')
                time.sleep(1.5)
                continue
    return final_df

In [19]:
def main(session: snowpark.Session):
    quarters = ['03/31','06/30','09/30','12/31']
    years = [x for x in range(2001,2003)]
    dates = []
    for y in years:
        for q in quarters:
            if q == '12/31' and y == 2023:
                break
            else:
                dates.append(f'{q}/{y}')
    print('Grabbing Data')
    final_df = grab_id_data(dates)   
    table_list = grab_table_name(session)
    for t in table_list:
        concat_df, col_list = grab_table_schema(session, t)
        write_df = pd.concat([concat_df,final_df.filter(items=col_list)])
        session.write_pandas(write_df,t)
        print_row_count(session, t)

In [20]:
if __name__ == "__main__":
    main(session)
    session.sql(f"ALTER WAREHOUSE {warehouse} SUSPEND;")
    session.close()

Grabbing Data
Processing period:  03/31/2001
The time was :  Thu Dec  7 11:32:49 2023

ConnectionError: ('Connection aborted.', RemoteDisconnected('Remote end closed connection without response'))

In [9]:
concat_df, col_list = grab_table_schema(session, 'SCHEDULE_ENT')

In [ ]:
years = '09/30/2023'
table = 'SCHEDULE_ENT'

In [35]:
quarters = ['03/31','06/30','09/30','12/31']
years = [x for x in range(2001,2023)]
dates = []
for y in years:
    for q in quarters:
        if q == '12/31' and y == 2023:
            break
        else:
            dates.append(f'{q}/{y}')
dates

['03/31/2001',
 '06/30/2001',
 '09/30/2001',
 '12/31/2001',
 '03/31/2002',
 '06/30/2002',
 '09/30/2002',
 '12/31/2002',
 '03/31/2003',
 '06/30/2003',
 '09/30/2003',
 '12/31/2003',
 '03/31/2004',
 '06/30/2004',
 '09/30/2004',
 '12/31/2004',
 '03/31/2005',
 '06/30/2005',
 '09/30/2005',
 '12/31/2005',
 '03/31/2006',
 '06/30/2006',
 '09/30/2006',
 '12/31/2006',
 '03/31/2007',
 '06/30/2007',
 '09/30/2007',
 '12/31/2007',
 '03/31/2008',
 '06/30/2008',
 '09/30/2008',
 '12/31/2008',
 '03/31/2009',
 '06/30/2009',
 '09/30/2009',
 '12/31/2009',
 '03/31/2010',
 '06/30/2010',
 '09/30/2010',
 '12/31/2010',
 '03/31/2011',
 '06/30/2011',
 '09/30/2011',
 '12/31/2011',
 '03/31/2012',
 '06/30/2012',
 '09/30/2012',
 '12/31/2012',
 '03/31/2013',
 '06/30/2013',
 '09/30/2013',
 '12/31/2013',
 '03/31/2014',
 '06/30/2014',
 '09/30/2014',
 '12/31/2014',
 '03/31/2015',
 '06/30/2015',
 '09/30/2015',
 '12/31/2015',
 '03/31/2016',
 '06/30/2016',
 '09/30/2016',
 '12/31/2016',
 '03/31/2017',
 '06/30/2017',
 '09/30/2017',
 '12/31/2017',
 '03/31/2018',
 '06/30/2018',
 '09/30/2018',
 '12/31/2018',
 '03/31/2019',
 '06/30/2019',
 '09/30/2019',
 '12/31/2019',
 '03/31/2020',
 '06/30/2020',
 '09/30/2020',
 '12/31/2020',
 '03/31/2021',
 '06/30/2021',
 '09/30/2021',
 '12/31/2021',
 '03/31/2022',
 '06/30/2022',
 '09/30/2022',
 '12/31/2022',
 '03/31/2023',
 '06/30/2023',
 '09/30/2023']

In [42]:
filers_set = set()
for d in dates:
    filers = methods.collect_filers_on_reporting_period(
    session=conn,
    creds=creds,
    reporting_period=d,
    output_type="list")
    df = pd.DataFrame(filers)
    filers_set.update(df['id_rssd'])
filers_set

{'3193462',
 '733447',
 '1015467',
 '191663',
 '182353',
 '440857',
 '228055',
 '983671',
 '68345',
 '477657',
 '3577428',
 '2484145',
 '40855',
 '2791795',
 '65746',
 '990156',
 '790721',
 '1469211',
 '212344',
 '786210',
 '2042684',
 '391959',
 '235558',
 '679826',
 '388753',
 '986935',
 '943004',
 '2905761',
 '3634433',
 '431323',
 '678454',
 '3374403',
 '2036843',
 '346379',
 '2742238',
 '333203',
 '540672',
 '2804882',
 '2880019',
 '233022',
 '5050',
 '790543',
 '509950',
 '505831',
 '672573',
 '118156',
 '1165540',
 '6972',
 '5582846',
 '86358',
 '926959',
 '3208441',
 '3584538',
 '12946',
 '922728',
 '925653',
 '403151',
 '387345',
 '2567123',
 '123178',
 '535753',
 '87047',
 '229801',
 '82024',
 '465672',
 '440174',
 '80374',
 '966973',
 '969741',
 '820842',
 '176325',
 '97055',
 '987848',
 '44602',
 '737632',
 '713926',
 '186557',
 '3437157',
 '855741',
 '1450620',
 '642866',
 '112332',
 '680466',
 '698649',
 '3473285',
 '844820',
 '788924',
 '3035245',
 '702751',
 '170912',
 '182951',
 '2723068',
 '884059',
 '764414',
 '954279',
 '701222',
 '411576',
 '796415',
 '411174',
 '2586281',
 '191832',
 '156916',
 '329952',
 '125958',
 '274641',
 '224178',
 '703552',
 '2123930',
 '648242',
 '45056',
 '722544',
 '3598218',
 '732570',
 '696047',
 '738367',
 '821531',
 '3277988',
 '454434',
 '2776103',
 '117672',
 '819172',
 '836067',
 '59352',
 '505',
 '787570',
 '966348',
 '729178',
 '783246',
 '359856',
 '2552099',
 '135854',
 '1863275',
 '1463983',
 '3635029',
 '922456',
 '1012251',
 '2597737',
 '870539',
 '715630',
 '266851',
 '2356064',
 '773742',
 '773470',
 '59316',
 '317379',
 '2239288',
 '497020',
 '247645',
 '483032',
 '11275',
 '3465244',
 '2914361',
 '284574',
 '714361',
 '300353',
 '3224375',
 '528616',
 '3610718',
 '3402575',
 '669751',
 '361439',
 '3116809',
 '3386983',
 '621674',
 '399656',
 '857811',
 '586175',
 '219679',
 '272030',
 '546320',
 '2972839',
 '601443',
 '726346',
 '2891622',
 '479455',
 '2325882',
 '68840',
 '508346',
 '617145',
 '45430',
 '180416',
 '893538',
 '107758',
 '1429028',
 '1445943',
 '3030969',
 '653134',
 '224749',
 '933975',
 '938233',
 '3160978',
 '2905604',
 '1157255',
 '2747587',
 '800442',
 '294153',
 '155777',
 '1003455',
 '65205',
 '736309',
 '424240',
 '342960',
 '2855071',
 '373058',
 '281210',
 '147651',
 '1857377',
 '808176',
 '144155',
 '697035',
 '5398355',
 '1009813',
 '519146',
 '3939222',
 '54357',
 '271855',
 '1959',
 '238661',
 '3625664',
 '390336',
 '1890598',
 '991041',
 '452841',
 '671334',
 '651411',
 '644141',
 '837158',
 '705556',
 '313223',
 '18078',
 '998657',
 '712059',
 '729459',
 '264941',
 '590949',
 '258306',
 '84055',
 '182175',
 '2459992',
 '199463',
 '5692473',
 '541035',
 '474450',
 '559777',
 '549826',
 '609476',
 '2881445',
 '2671105',
 '724052',
 '464853',
 '116554',
 '3347603',
 '192558',
 '490843',
 '321255',
 '419947',
 '969639',
 '43351',
 '3247589',
 '229959',
 '1005552',
 '3223800',
 '735852',
 '32234',
 '259059',
 '201254',
 '810142',
 '662770',
 '94139',
 '1819049',
 '132219',
 '3686722',
 '320070',
 '2896430',
 '691145',
 '593977',
 '916857',
 '548203',
 '837970',
 '675248',
 '868442',
 '876371',
 '480442',
 '1865961',
 '274856',
 '881900',
 '90328',
 '3374412',
 '186838',
 '257756',
 '663058',
 '807946',
 '937348',
 '275509',
 '533937',
 '105071',
 '514972',
 '352035',
 '1015850',
 '2385514',
 '3350779',
 '841838',
 '667869',
 '666657',
 '658540',
 '680354',
 '2955458',
 '976057',
 '690045',
 '568126',
 '897853',
 '746054',
 '101345',
 '899343',
 '3550131',
 '482370',
 '565844',
 '2333412',
 '432432',
 '412872',
 '3817964',
 '613307',
 '3414046',
 '594938',
 '3216295',
 '908058',
 '2346609',
 '695349',
 '2304382',
 '882671',
 '834661',
 '302133',
 '802129',
 '3717288',
 '2858960',
 '729310',
 '3363939',
 '949350',
 '2970657',
 '130943',
 '3971',
 '345756',
 '586858',
 '710251',
 '2383903',
 '915645',
 '607333',
 '828633',
 '3010363',
 '3377954',
 '361279',
 '593249',
 '3170276',
 '563233',
 '1014376',
 '91615',
 '852544',
 '693073',
 '785941',
 '240459',
 '2806091',
 '307334',
 '1516348',
 '841052',
 '1001273',
 '458553',
 '897330',
 '1007417',
 '824550',
 '648130',
 '2603106',
 '2518424',
 '2290122',
 '750239',
 '1421161',
 '3591013',
 '580258',
 '102230',
 '2614018',
 '459046',
 '551548',
 '3080852',
 '49821',
 '3301641',
 '895448',
 '539872',
 '499239',
 '918918',
 '3633173',
 '3281293',
 '61001',
 '320771',
 '433439',
 '2761930',
 '514057',
 '422433',
 '932820',
 '2621940',
 '311256',
 '609010',
 '533124',
 '436252',
 '58225',
 '11145',
 '2708122',
 '3194142',
 '2654911',
 '441630',
 '191355',
 '744854',
 '2848037',
 '453446',
 '913146',
 '676432',
 '665146',
 '857147',
 '564155',
 '3435948',
 '421203',
 '764647',
 '76050',
 '322551',
 '743053',
 '3108907',
 '2694935',
 '554745',
 '324649',
 '400141',
 '5479478',
 '3185579',
 '151546',
 '416272',
 '273662',
 '529873',
 '532864',
 '2521077',
 '667252',
 '2698492',
 '13103',
 '506230',
 '105222',
 '180153',
 '609618',
 '73031',
 '453026',
 '435077',
 '3800621',
 '2855307',
 '2361901',
 '739430',
 '392358',
 '605973',
 '851958',
 '414764',
 '88240',
 '18135',
 '2145389',
 '691958',
 '2938684',
 '403067',
 '3386590',
 '305648',
 '836843',
 '733540',
 '585749',
 '3035759',
 '2646813',
 '3614930',
 '854520',
 '797832',
 '803144',
 '5427684',
 '3097243',
 '3153288',
 '12311',
 '2538842',
 '901956',
 '946948',
 '1448636',
 '85454',
 '205337',
 '3531176',
 '661072',
 '221654',
 '3069660',
 '2171100',
 '900258',
 '1008133',
 '83955',
 '138510',
 '452104',
 '275769',
 '925710',
 '689937',
 '588478',
 '147174',
 '3547896',
 '411549',
 '136338',
 '897451',
 '750154',
 '2785637',
 '332055',
 '55653',
 '2502816',
 '2769039',
 '29104',
 '538754',
 '538044',
 '391418',
 '927479',
 '2747952',
 '2531991',
 '600222',
 '939155',
 '478449',
 '627108',
 '597751',
 '954251',
 '3672051',
 '479268',
 '2799803',
 '83375',
 '192352',
 '195157',
 '1012457',
 '859002',
 '960533',
 '929576',
 '387000',
 '676964',
 '783956',
 '353069',
 '2959700',
 '682143',
 '2805441',
 '769857',
 '413271',
 '596062',
 '148238',
 '460332',
 '3411018',
 '2858492',
 '3267185',
 '881339',
 '5086072',
 '301668',
 '660927',
 '864471',
 '2933616',
 '29252',
 '3461488',
 '771140',
 '738040',
 '3690701',
 '5313312',
 '984454',
 '644954',
 '2506757',
 '727950',
 '719955',
 '944047',
 '668053',
 '71318',
 '534466',
 '842116',
 '331713',
 '853644',
 '1994124',
 '908003',
 '3022076',
 '713074',
 '2963547',
 '3155134',
 '701857',
 '702658',
 '956956',
 '701839',
 '781466',
 '859945',
 '869524',
 '90627',
 '1669',
 '447034',
 '2760232',
 '190947',
 '396879',
 '2989006',
 '442776',
 '309758',
 '762474',
 '614256',
 '3353154',
 '397858',
 '368429',
 '502849',
 '1163153',
 '715975',
 '589523',
 '180845',
 '470256',
 '285937',
 '382069',
 '3048937',
 '952846',
 '2712978',
 '305442',
 '37378',
 '507152',
 '336932',
 '597555',
 '91101',
 '953450',
 '469540',
 '844455',
 '66015',
 '177546',
 '132741',
 '110758',
 '2798897',
 '67414',
 '2270601',
 '3232370',
 '871956',
 '550952',
 '1833063',
 '2857806',
 '13251',
 '504535',
 '856346',
 '886204',
 '540458',
 '410337',
 '839152',
 '2262763',
 '375043',
 '2317645',
 '3153233',
 '3547449',
 '894245',
 '3288265',
 '103536',
 '641579',
 '300157',
 '1416082',
 '996840',
 '900379',
 '612551',
 '394259',
 '360777',
 '869346',
 '849076',
 '570857',
 '817440',
 '409265',
 '434203',
 '306270',
 '567736',
 '238241',
 '554754',
 '289702',
 '1216059',
 '2820604',
 '171656',
 '2532082',
 '5939',
 '3262788',
 '177920',
 '877752',
 '57134',
 '1010051',
 '1005655',
 '846356',
 '454658',
 '704942',
 '1158832',
 '3202962',
 '3650273',
 '355821',
 '131034',
 '936640',
 '173557',
 '3135109',
 '3214059',
 '757779',
 '18854',
 '411651',
 '2877831',
 '708333',
 '711801',
 '845108',
 '2706016',
 '103563',
 '476472',
 '565040',
 '477376',
 '225559',
 '926155',
 '3201527',
 '3617856',
 '623306',
 '16748',
 '3735040',
 '25647',
 '3825080',
 '351878',
 '370730',
 '316840',
 '672247',
 '2359926',
 '2514547',
 '356239',
 '808345',
 '3253571',
 '1982130',
 '805250',
 '3150474',
 '165758',
 '256179',
 '507509',
 '279842',
 '149235',
 '845751',
 '33772',
 '2488956',
 '516305',
 '692946',
 '171348',
 '806770',
 '975452',
 '527749',
 '3354487',
 '960841',
 '3586925',
 '31134',
 '270504',
 '446176',
 '805951',
 '743679',
 '2746348',
 '572655',
 '662640',
 '373553',
 '5805228',
 '138051',
 '266945',
 '2815262',
 '2253725',
 '969675',
 '255574',
 '907958',
 '268846',
 '1444580',
 '757612',
 '2534581',
 '368522',
 '2808358',
 '303653',
 '2707451',
 '991078',
 '5777549',
 '407506',
 '563934',
 '371755',
 '945259',
 '2562838',
 '2806877',
 '3549180',
 '295057',
 '2847432',
 '767255',
 '701062',
 '604033',
 '2697619',
 '624246',
 '2723376',
 '597313',
 '626941',
 '644132',
 '722432',
 '657178',
 '2194426',
 '43669',
 '418753',
 '998974',
 '762054',
 '822145',
 '560214',
 '1017658',
 '173306',
 '634955',
 '711753',
 '599643',
 '29476',
 '414858',
 '350750',
 '3085240',
 '239556',
 '3654712',
 '175609',
 '983055',
 '945053',
 '789051',
 '3437139',
 '2518497',
 '398248',
 '510330',
 '548052',
 '361055',
 '249304',
 '2631323',
 '1163171',
 '470724',
 '3142358',
 '932277',
 '627555',
 '3177',
 '3068579',
 '628356',
 '362043',
 '601733',
 '26457',
 '2822363',
 '123646',
 '670748',
 '796769',
 '612618',
 '106658',
 '754031',
 '138556',
 '887827',
 '2766092',
 '1003679',
 '514066',
 '261258',
 '1351',
 '765046',
 '633501',
 '925411',
 '402462',
 '794608',
 '524953',
 '35057',
 '143859',
 '556945',
 '47425',
 '969723',
 '605571',
 '839068',
 '2506056',
 '894544',
 '856270',
 '2868352',
 '76443',
 '381343',
 '499453',
 '729637',
 '975555',
 '917500',
 '624563',
 '233451',
 '2704188',
 '902672',
 '301574',
 '2040',
 '967877',
 '2848493',
 '2718738',
 '133243',
 '173801',
 '576608',
 '292234',
 '439860',
 '900137',
 '591852',
 '896605',
 '2352507',
 '549862',
 '482772',
 '42420',
 '375650',
 '64150',
 '800750',
 '748964',
 '725853',
 '646743',
 '3374298',
 '384830',
 '724753',
 '3229866',
 '873914',
 '335355',
 '594947',
 '508355',
 '413673',
 '141958',
 '2734729',
 '899754',
 '223658',
 '791531',
 '455150',
 '2515272',
 '2956',
 '1000557',
 '988845',
 '3393824',
 '757377',
 '2839745',
 '480750',
 '141556',
 '419255',
 '557438',
 '2686211',
 '2789457',
 '2364564',
 '4149037',
 '319542',
 '617024',
 '52410',
 '656742',
 '882354',
 '2721877',
 '381754',
 '1011553',
 '536479',
 '145844',
 '980960',
 '245333',
 '3482111',
 '626101',
 '215952',
 '2719427',
 '808448',
 '733951',
 '337340',
 '313773',
 '446877',
 '764058',
 '428958',
 '804963',
 '1931941',
 '802352',
 '2533119',
 '857941',
 '762429',
 '195867',
 '2612162',
 '3688678',
 '2754222',
 '474759',
 '164975',
 '352558',
 '873259',
 '2907439',
 '177500',
 '30436',
 '797467',
 '348319',
 '667074',
 '2948049',
 '885579',
 '501459',
 '3596380',
 '364430',
 '324902',
 '405744',
 '1016231',
 '270652',
 '119153',
 '295356',
 '905655',
 '961446',
 '997052',
 '583071',
 '704326',
 '3448180',
 '163549',
 '543253',
 '411624',
 '603755',
 '852357',
 '705565',
 '1494914',
 '2235244',
 '774262',
 '2767763',
 '482156',
 '776734',
 '3121081',
 '403106',
 '113441',
 '724557',
 '476454',
 '574471',
 '852133',
 '3488869',
 '582579',
 '332644',
 '402172',
 '479567',
 ...}

In [65]:
listed = ["4114567","4114567"]
for l in listed:
    try:
        time_series = methods.collect_data(
            session=conn,
            creds=creds,
            rssd_id=l,
            reporting_period="9/30/2023",
            series="call",
            output_type='pandas'
        )
        time_series
    except Fault as e:
        print('no no there sorry')

no no there sorry
no no there sorry

In [10]:
df = grab_id_data([37,242,279,354,5805479,5859511],'09/30/2023')
df.filter(items=col_list)

,RCON9224,RCON9999,RSSD9017,RSSD9130,RSSD9200,RSSD9220,IDRSSD
0,NaN,20230930,BANK OF HANCOCK COUNTY,SPARTA,GA,31087,37
1,NaN,20230930,FIRST COMMUNITY BANK XENIA FLORA,Xenia,IL,62899,242
2,NaN,20230930,MINEOLA COMMUNITY BANK S. S. B.,MINEOLA,TX,75773,279
3,549300T61O0X0RJMQ375,20230930,Bison State Bank,Bison,KS,675200328,354
4,NaN,20230930,"BESSEMER TRUST COMPANY OF NEVADA, N.A.",Las Vegas,NV,89135,5805479
5,9845004BEFQAAF3AE023,20230930,"TIAA Trust, National Association",Charlotte,NC,28262,5859511

In [11]:
final_df = pd.concat([concat_df,df.filter(items=col_list)])
final_df

,RCON9224,RCON9999,RSSD9017,RSSD9130,RSSD9200,RSSD9220,IDRSSD
0,NaN,20230930,BANK OF HANCOCK COUNTY,SPARTA,GA,31087,37
1,NaN,20230930,FIRST COMMUNITY BANK XENIA FLORA,Xenia,IL,62899,242
2,NaN,20230930,MINEOLA COMMUNITY BANK S. S. B.,MINEOLA,TX,75773,279
3,549300T61O0X0RJMQ375,20230930,Bison State Bank,Bison,KS,675200328,354
4,NaN,20230930,"BESSEMER TRUST COMPANY OF NEVADA, N.A.",Las Vegas,NV,89135,5805479
5,9845004BEFQAAF3AE023,20230930,"TIAA Trust, National Association",Charlotte,NC,28262,5859511

In [20]:
result = session.write_pandas(final_df, 'SCHEDULE_ENT') 
success, nchunks,nrows, _ = result

ValueError: too many values to unpack (expected 4)

In [19]:
print(result)

<snowflake.snowpark.table.Table object at 0x0000021913059D90>

In [29]:
df = session.create_dataframe([[1, 2], [3, 4]], schema=["a", "b"])
df.write.mode("overwrite").save_as_table("saved_table", table_type="temporary")
session.table("saved_table").show()


stage_created_result = session.sql("create temporary stage if not exists my_stage").collect()
df.write.copy_into_location("@my_stage/copied_from_dataframe.csv")  # default CSV

-------------
|"A"  |"B"  |
-------------
|1    |2    |
|3    |4    |
-------------

[Row(rows_unloaded=2, input_bytes=8, output_bytes=28)]

In [ ]:
def main(session: snowpark.Session):
    df_table = session.table("sample_product_data")

In [38]:
def match_data_type(id_rssd_set, mdrm_set):
    master_data_type_list = []
    trials = 0
    while len(mdrm_set) != 0 and trials != len(id_rssd_set):
        for id_rssd in id_rssd_set:
                print(id_rssd)
                time_series = methods.collect_data(
                session=conn,
                creds=creds,
                rssd_id=id_rssd,
                reporting_period="9/30/2023",
                series="call",
                output_type='pandas'
                )
                print(time_series)
                for mdrm in mdrm_set.copy():
                    if mdrm in time_series['mdrm'].values:
                        print('made it')
                        data_type = time_series['data_type'][time_series['mdrm']==mdrm].values[0]
                        pair_mdrm_type = (mdrm,data_type)
                        master_data_type_list.append(pair_mdrm_type)
                        mdrm_set.remove(mdrm)
                        print(mdrm_set,len(mdrm_set))
                trials +=1
                if not mdrm_set:
                    break
                #time.sleep(2)
    return master_data_type_list

In [39]:
id_rssd_set = set([37,279])
mdrm_set = set(['RCONC752','RCONF164','RCOALB61','RIADC235','RIADGW44'])
ml_ret = match_data_type(id_rssd_set,mdrm_set)
ml_ret

37
         mdrm rssd    quarter  int_data  float_data bool_data  str_data  \
0    RCONC752   37  9/30/2023       NaN         NaN      None  FFIEC051
1    RCONF164   37  9/30/2023       0.0         NaN      None      None
2    RCONG322   37  9/30/2023       0.0         NaN      None      None
3    RCON1460   37  9/30/2023       0.0         NaN      None      None
4    RIADGW44   37  9/30/2023      38.0         NaN      None      None
..        ...  ...        ...       ...         ...       ...       ...
578  RIADC232   37  9/30/2023       0.0         NaN      None      None
579  RCOALB60   37  9/30/2023       0.0         NaN      None      None
580  RCOALB61   37  9/30/2023       0.0         NaN      None      None
581  RIADC235   37  9/30/2023       0.0         NaN      None      None
582  RIADC234   37  9/30/2023       1.0         NaN      None      None

    data_type
0         str
1         int
2         int
3         int
4         int
..        ...
578       int
579       int
580       int
581       int
582       int

[583 rows x 8 columns]
made it
{'RCONC752', 'RIADC235', 'RCONF164', 'RIADGW44'} 4
made it
{'RCONC752', 'RIADC235', 'RIADGW44'} 3
made it
{'RCONC752', 'RIADC235'} 2
made it
{'RIADC235'} 1
made it
set() 0

[('RCOALB61', 'int'),
 ('RCONF164', 'int'),
 ('RIADGW44', 'int'),
 ('RCONC752', 'str'),
 ('RIADC235', 'int')]

In [14]:
for mdrm in mdrm_set:
    if mdrm in time_series['mdrm'].values:
        print(f"{mdrm} found!")
    else:
        print(f"{mdrm} not found.")

RCOALB61 found!
RCONC752 found!
RIADC235 found!
RCONF164 found!
RIADGW44 found!

In [13]:

time_series['data_type'][time_series['mdrm']==mdrm]

4    int
Name: data_type, dtype: object

In [2]:
time_series = methods.collect_data(
    session=conn,
    creds=creds,
    rssd_id="37",
    reporting_period="9/30/2023",
    series="call",
    output_type='pandas'
)
time_series

,mdrm,rssd,quarter,int_data,float_data,bool_data,str_data,data_type
0,RCONC752,37,9/30/2023,NaN,NaN,None,FFIEC051,str
1,RCONF164,37,9/30/2023,0.0,NaN,None,None,int
2,RCONG322,37,9/30/2023,0.0,NaN,None,None,int
3,RCON1460,37,9/30/2023,0.0,NaN,None,None,int
4,RIADGW44,37,9/30/2023,38.0,NaN,None,None,int
...,...,...,...,...,...,...,...,...
578,RIADC232,37,9/30/2023,0.0,NaN,None,None,int
579,RCOALB60,37,9/30/2023,0.0,NaN,None,None,int
580,RCOALB61,37,9/30/2023,0.0,NaN,None,None,int
581,RIADC235,37,9/30/2023,0.0,NaN,None,None,int
582,RIADC234,37,9/30/2023,1.0,NaN,None,None,int

In [4]:
df= time_series

In [14]:
result_df = pd.DataFrame(columns=df['mdrm'].unique())

# Iterate through each row in the original DataFrame
for index, row in df.iterrows():
    mdrm = row['mdrm']
    data_type = row['data_type']

    # Depending on the 'data_type', select the corresponding value
    if data_type == 'str':
        value = row['str_data']
    elif data_type == 'bool':
        value = row['bool_data']
    elif data_type == 'float':
        value = row['float_data']
    elif data_type == 'int':
        value = row['int_data']
    else:
        value = None

    # Set the value in the result DataFrame
    result_df.at[0, mdrm] = value

# Transpose the result DataFrame to have one row and 583 columns
#result_df = result_df.T

# Reset the index and rename columns
#result_df = result_df.reset_index()
#result_df.columns = ['mdrm', 0]

# Display the resulting DataFrame
print(result_df)

   RCONC752 RCONF164 RCONG322 RCON1460 RIADGW44 RIADB522 RCONC027 RCONC026  \
0  FFIEC051      0.0      0.0      0.0     38.0    955.0      0.0      0.0

  RCONHK09 RCONHK17  ... RIADC895 RIADC894 RCONG472 RIADC896 RIADC233  \
0   5162.0    964.0  ...      0.0      0.0      0.0      0.0      0.0

  RIADC232 RCOALB60 RCOALB61 RIADC235 RIADC234
0      0.0      0.0      0.0      0.0      1.0

[1 rows x 583 columns]

In [15]:
result_df['RCON9999']# = '09/30/2023'

0    20230930.0
Name: RCON9999, dtype: object

In [18]:
result_df['IDRSSD'] = 37

In [19]:
result_df['IDRSSD']

0    37
Name: IDRSSD, dtype: int64

In [16]:
result_df['RCON9999']=pd.to_datetime(result_df['RCON9999'], format='%Y%m%d.%f').dt.strftime('%Y-%m-%d')

0    2023-09-30
Name: RCON9999, dtype: object

In [2]:
last_filing_date_time = methods.collect_filers_submission_date_time(
    session=conn,
    creds=creds,
    since_date="10/31/2022",
    reporting_period="9/30/2023",
)

In [6]:
df =pd.DataFrame(last_filing_date_time)
df

        rssd                datetime
0     175458    10/1/2023 8:26:23 AM
1     723158    10/1/2023 2:00:50 PM
2     359744    10/2/2023 9:15:07 AM
3     688556   10/2/2023 11:38:07 AM
4     199137    10/2/2023 2:27:02 PM
...      ...                     ...
4619  856869  10/31/2023 12:26:27 AM
4620  543459  10/31/2023 12:30:06 AM
4621  402846  10/31/2023 12:33:03 AM
4622  666554  10/31/2023 12:59:07 AM
4623  706656   10/31/2023 1:59:41 AM

[4624 rows x 2 columns]

In [16]:
filers = methods.collect_filers_on_reporting_period(
    session=conn,
    creds=creds,
    reporting_period="9/30/2023",
    output_type="pandas"
)
filers

,id_rssd,fdic_cert_number,occ_chart_number,ots_dock_number,primary_aba_rout_number,name,state,city,address,filing_type,has_filed_for_reporting_period
0,37,10057,None,16553,61107146,BANK OF HANCOCK COUNTY,GA,SPARTA,12855 BROAD STREET,051,True
1,242,3850,None,None,81220537,FIRST COMMUNITY BANK XENIA-FLORA,IL,XENIA,260 FRONT STREET,051,True
2,279,28868,None,2523,311972526,"MINEOLA COMMUNITY BANK, SSB",TX,MINEOLA,215 W BROAD,051,True
3,354,14083,None,None,101107475,BISON STATE BANK,KS,BISON,223 MAIN STREET,051,True
4,457,10202,None,None,91208332,LOWRY STATE BANK,MN,LOWRY,400 FLORENCE AVE.,051,True
...,...,...,...,...,...,...,...,...,...,...,...
4664,5805479,59346,25287,None,122402463,"BESSEMER TRUST COMPANY OF NEVADA, NATIONAL ASS...",NV,LAS VEGAS,1700 SOUTH PAVILION CENTER DRIVE SUITE...,051,True
4665,5805488,59349,25275,None,121202457,"INSPIRE TRUST COMPANY, NATIONAL ASSOCIATION",NV,RENO,241 RIDGE STREET SUITE 310,041,True
4666,5805817,59337,25237,None,91018470,CERIDIAN NATIONAL TRUST BANK,MN,BLOOMINGTON,3311 EAST OLD SHAKOPEE ROAD,051,True
4667,5859511,59344,25288,None,53012977,"TIAA TRUST, NATIONAL ASSOCIATION",NC,CHARLOTTE,8500 ANDREW CARNEGIE BOULEVARD,051,True
4668,5860740,59305,None,None,72414514,COMMUNITY UNITY BANK,MI,BIRMINGHAM,34040 WOODWARD AVENUE,051,True

In [ ]:
[37,242,279,354,5805479]

In [13]:
df2 = pd.DataFrame(filers)
df2

,id_rssd,fdic_cert_number,occ_chart_number,ots_dock_number,primary_aba_rout_number,name,state,city,address,filing_type,has_filed_for_reporting_period
0,37,10057,None,16553,61107146,BANK OF HANCOCK COUNTY,GA,SPARTA,12855 BROAD STREET,051,True
1,242,3850,None,None,81220537,FIRST COMMUNITY BANK XENIA-FLORA,IL,XENIA,260 FRONT STREET,051,True
2,279,28868,None,2523,311972526,"MINEOLA COMMUNITY BANK, SSB",TX,MINEOLA,215 W BROAD,051,True
3,354,14083,None,None,101107475,BISON STATE BANK,KS,BISON,223 MAIN STREET,051,True
4,457,10202,None,None,91208332,LOWRY STATE BANK,MN,LOWRY,400 FLORENCE AVE.,051,True
...,...,...,...,...,...,...,...,...,...,...,...
4664,5805479,59346,25287,None,122402463,"BESSEMER TRUST COMPANY OF NEVADA, NATIONAL ASS...",NV,LAS VEGAS,1700 SOUTH PAVILION CENTER DRIVE SUITE...,051,True
4665,5805488,59349,25275,None,121202457,"INSPIRE TRUST COMPANY, NATIONAL ASSOCIATION",NV,RENO,241 RIDGE STREET SUITE 310,041,True
4666,5805817,59337,25237,None,91018470,CERIDIAN NATIONAL TRUST BANK,MN,BLOOMINGTON,3311 EAST OLD SHAKOPEE ROAD,051,True
4667,5859511,59344,25288,None,53012977,"TIAA TRUST, NATIONAL ASSOCIATION",NC,CHARLOTTE,8500 ANDREW CARNEGIE BOULEVARD,051,True
4668,5860740,59305,None,None,72414514,COMMUNITY UNITY BANK,MI,BIRMINGHAM,34040 WOODWARD AVENUE,051,True

In [15]:
df2['id_rssd'].tolist()

['37',
 '242',
 '279',
 '354',
 '457',
 '505',
 '1155',
 '1351',
 '1454',
 '1669',
 '1856',
 '2161',
 '2732',
 '2750',
 '3252',
 '3458',
 '3720',
 '3971',
 '4156',
 '4231',
 '5069',
 '5135',
 '5210',
 '5461',
 '5751',
 '6039',
 '6329',
 '7009',
 '7045',
 '7072',
 '7456',
 '7634',
 '8462',
 '8631',
 '9357',
 '9553',
 '9807',
 '9955',
 '10250',
 '10849',
 '11145',
 '11640',
 '11837',
 '12030',
 '12142',
 '12311',
 '12647',
 '12946',
 '13103',
 '13251',
 '13457',
 '14155',
 '14650',
 '14753',
 '14865',
 '14977',
 '16551',
 '17110',
 '17147',
 '17259',
 '17950',
 '17978',
 '18050',
 '18827',
 '18836',
 '18854',
 '19356',
 '19936',
 '19972',
 '20053',
 '20633',
 '20857',
 '21256',
 '21359',
 '21658',
 '22048',
 '22543',
 '22552',
 '22730',
 '23456',
 '23504',
 '23643',
 '23755',
 '24006',
 '24378',
 '24659',
 '24949',
 '25357',
 '25647',
 '26765',
 '27070',
 '27548',
 '27614',
 '27847',
 '28013',
 '28152',
 '28675',
 '28732',
 '29476',
 '29636',
 '29878',
 '30052',
 '30502',
 '30650',
 '30810',
 '31134',
 '31255',
 '31657',
 '31826',
 '31835',
 '32234',
 '32766',
 '32971',
 '33147',
 '33259',
 '33370',
 '33839',
 '33857',
 '34434',
 '34537',
 '34555',
 '34742',
 '35057',
 '35301',
 '35646',
 '35879',
 '36456',
 '36933',
 '37051',
 '37341',
 '37435',
 '37640',
 '37659',
 '37949',
 '38740',
 '39327',
 '39756',
 '40033',
 '40499',
 '40855',
 '41553',
 '41629',
 '41825',
 '42037',
 '42354',
 '42372',
 '42420',
 '42448',
 '42457',
 '43052',
 '43351',
 '43856',
 '43959',
 '44040',
 '44433',
 '44741',
 '44750',
 '44929',
 '45038',
 '45047',
 '45056',
 '45430',
 '45458',
 '45551',
 '45560',
 '45775',
 '46053',
 '46941',
 '47247',
 '47500',
 '48057',
 '48150',
 '48374',
 '48440',
 '49054',
 '49148',
 '49241',
 '49652',
 '49858',
 '49951',
 '50144',
 '50461',
 '51253',
 '51356',
 '51459',
 '51842',
 '52719',
 '52951',
 '53051',
 '54058',
 '54656',
 '54973',
 '55336',
 '55635',
 '55653',
 '55970',
 '56258',
 '56351',
 '56548',
 '56717',
 '57040',
 '57451',
 '58225',
 '58243',
 '58355',
 '58551',
 '58636',
 '58757',
 '58971',
 '59316',
 '59352',
 '59370',
 '59754',
 '60143',
 '60330',
 '60545',
 '60554',
 '60648',
 '61122',
 '61355',
 '61476',
 '61757',
 '61832',
 '61953',
 '62044',
 '62110',
 '62147',
 '63050',
 '63069',
 '63201',
 '63573',
 '63733',
 '64150',
 '64552',
 '64730',
 '65205',
 '65513',
 '65559',
 '65858',
 '66154',
 '66275',
 '66677',
 '67142',
 '67151',
 '67209',
 '67254',
 '67656',
 '67870',
 '68671',
 '68756',
 '68831',
 '69333',
 '69678',
 '70218',
 '70414',
 '70638',
 '70955',
 '71073',
 '71457',
 '71859',
 '72258',
 '72351',
 '72454',
 '72678',
 '73116',
 '73152',
 '73554',
 '73956',
 '74056',
 '74140',
 '74403',
 '74449',
 '75259',
 '75446',
 '75455',
 '75633',
 '75651',
 '76153',
 '76443',
 '76854',
 '77150',
 '77253',
 '77422',
 '77851',
 '78157',
 '78241',
 '78559',
 '79042',
 '79127',
 '79145',
 '79257',
 '79855',
 '80150',
 '80374',
 '80431',
 '81175',
 '82033',
 '82257',
 '82350',
 '83151',
 '83375',
 '83638',
 '83834',
 '83852',
 '83955',
 '84046',
 '84541',
 '85052',
 '85472',
 '85931',
 '86349',
 '86675',
 '87047',
 '87234',
 '87476',
 '87579',
 '88231',
 '88259',
 '88352',
 '88455',
 '88950',
 '89032',
 '89135',
 '89854',
 '89957',
 '90047',
 '90177',
 '90328',
 '90337',
 '90579',
 '91615',
 '91754',
 '91950',
 '92144',
 '92676',
 '92706',
 '92902',
 '93244',
 '93543',
 '93619',
 '94139',
 '94522',
 '94755',
 '94858',
 '95051',
 '95677',
 '96553',
 '97055',
 '97279',
 '97457',
 '97804',
 '97943',
 '98351',
 '98463',
 '98717',
 '99143',
 '99376',
 '99442',
 '99536',
 '99853',
 '100236',
 '100357',
 '100562',
 '100777',
 '100843',
 '101037',
 '101439',
 '101671',
 '101738',
 '101952',
 '102333',
 '102342',
 '102557',
 '102874',
 '103134',
 '104234',
 '104542',
 '104971',
 '105026',
 '105473',
 '105530',
 '106359',
 '106452',
 '106676',
 '107244',
 '107570',
 '107758',
 '108072',
 '108269',
 '108652',
 '108746',
 '108951',
 '109136',
 '109154',
 '109453',
 '109574',
 '109659',
 '110413',
 '110936',
 '110945',
 '110972',
 '111157',
 '111205',
 '111942',
 '111979',
 '112163',
 '112332',
 '112510',
 '112556',
 '112837',
 '113003',
 '113030',
 '113441',
 '113601',
 '113740',
 '114149',
 '114260',
 '114457',
 '114774',
 '114840',
 '114859',
 '115146',
 '115575',
 '116358',
 '116554',
 '116741',
 '117038',
 '117074',
 '117458',
 '117775',
 '118156',
 '118660',
 '118736',
 '119153',
 '119779',
 '119872',
 '120476',
 '120542',
 '120609',
 '120953',
 '121642',
 '121651',
 '121914',
 '122153',
 '122546',
 '122854',
 '123075',
 '123374',
 '124344',
 '124830',
 '125154',
 '125855',
 '125873',
 '126012',
 '126049',
 '126375',
 '126553',
 '126834',
 '127055',
 '127224',
 '128258',
 '128904',
 '129349',
 '129358',
 '129479',
 '129732',
 '129853',
 '129910',
 '130345',
 '130541',
 '131436',
 '131717',
 '131940',
 '132107',
 '132451',
 '132778',
 '132938',
 '133579',
 '133850',
 '133971',
 '134156',
 '134437',
 '134455',
 '134848',
 '135836',
 '135854',
 '136048',
 '136338',
 '136655',
 '137205',
 '137447',
 '137456',
 '137559',
 '137643',
 '137652',
 '137915',
 '138051',
 '138257',
 '138556',
 '139133',
 '139478',
 '139553',
 '139656',
 '139740',
 '139843',
 '140157',
 '140362',
 '140634',
 '141211',
 '141350',
 '141556',
 '141677',
 '141958',
 '142049',
 '142179',
 '142955',
 '143372',
 '143662',
 '143859',
 '143952',
 '144034',
 '144052',
 '144155',
 '144678',
 '144856',
 '144913',
 '145059',
 '145545',
 '145554',
 '145741',
 '145844',
 '146056',
 '146663',
 '147651',
 '147679',
 '147857',
 '147923',
 '148171',
 '148238',
 '148340',
 '148470',
 '148715',
 '148920',
 '149150',
 '150035',
 '150044',
 '150727',
 '151546',
 '151957',
 '152057',
 '152253',
 '152440',
 '153054',
 '153353',
 '154154',
 '154770',
 '155759',
 '156457',
 '156970',
 '157155',
 '157379',
 '157650',
 '157744',
 '157856',
 '158376',
 '158741',
 '159636',
 '159645',
 '159953',
 '159971',
 '160360',
 '160454',
 '160959',
 '161273',
 '161602',
 '162337',
 '163343',
 '163549',
 '163857',
 '164153',
 '164331',
 '164377',
 '164957',
 '164975',
 '165628',
 '165758',
 '166111',
 '166531',
 '166652',
 '166849',
 '167453',
 '167752',
 '168357',
 '168571',
 '169354',
 '169653',
 '169756',
 '170257',
 '170275',
 '170332',
 '171133',
 '171656',
 '171759',
 '171768',
 '172251',
 '172457',
 '172475',
 '172859',
 '173306',
 '173342',
 '173557',
 '173575',
 '173641',
 '173959',
 '174321',
 '174367',
 '174572',
 '175056',
 '175140',
 '175458',
 '175609',
 '176101',
 '176325',
 '176437',
 '176464',
 '176642',
 '177135',
 '177443',
 '177500',
 '177555',
 '177751',
 '177920',
 '178150',
 '178244',
 '178356',
 '178851',
 '179148',
 '179335',
 '179700',
 '180144',
 '180537',
 '180845',
 '181963',
 '182951',
 '183668',
 '183770',
 '183958',
 '184656',
 '184759',
 '185251',
 '185448',
 '185859',
 '186221',
 '186548',
 '186717',
 '186744',
 '187648',
 '187947',
 '188056',
 '188177',
 '188430',
 '188449',
 '188720',
 '188739',
 '188917',
 '189129',
 '189950',
 '190563',
 '190648',
 '190947',
 '190956',
 '191355',
 '191935',
 '192147',
 '192558',
 '192651',
 '192857',
 '193162',
 '193537',
 '193649',
 '193809',
 '194440',
 '194570',
 '194936',
 '195111',
 '195157',
 '195456',
 '196752',
 '196800',
 '197142',
 '197254',
 '197302',
 '197478',
 '197759',
 '198073',
 '198149',
 '198251',
 '198961',
 '199137',
 '199351',
 '199436',
 '199463',
 '200378',
 '200435',
 '201254',
 '201834',
 '202514',
 '202541',
 '202907',
 '203043',
 '203052',
 '203575',
 '204004',
 '204237',
 '204826',
 '205243',
 '205346',
 '205458',
 '205542',
 '206156',
 '206174',
 '206473',
 '206772',
 '206950',
 '207041',
 '207050',
 '207452',
 '207470',
 '207555',
 '207845',
 '207872',
 '208057',
 '208244',
 '208347',
 '208440',
 '208459',
 '208570',
 '208655',
 '208972',
 '209148',
 '209362',
 '209559',
 '209858',
 '210238',
 '210256',
 '210434',
 '211114',
 '211271',
 '211338',
 '211851',
 '212018',
 '212344',
 '212522',
 '212577',
 '213471',
 '213538',
 '213912',
 '213958',
 '214106',
 '214414',
 '214722',
 '214807',
 '214843',
 '215345',
 '215653',
 '215662',
 '215710',
 '216164',
 '216230',
 '216922',
 '217059',
 '218131',
 '218261',
 '218850',
 '218878',
 '219044',
 '219651',
 '219679',
 '220059',
 '220527',
 '220844',
 '220974',
 '221775',
 '222156',
 '222558',
 '222754',
 '223322',
 '223452',
 '223751',
 '223845',
 '224954',
 '225054',
 '225157',
 '225559',
 '225942',
 '226949',
 '227151',
 '227357',
 '227656',
 '227777',
 '228000',
 '228158',
 '228279',
 '228345',
 '229070',
 '229173',
 '229342',
 '229454',
 '229801',
 '229913',
 '230423',
 '230610',
 '230759',
 '231279',
 '232847',
 '232856',
 '233031',
 '233246',
 '233358',
 '233442',
 '233527',
 '233554',
 '234355',
 '234506',
 '234739',
 '234841',
 '235174',
 '235231',
 '235446',
 '235530',
 '235558',
 '235950',
 '236153',
 '236256',
 '236603',
 '236706',
 '236957',
 '237066',
 '237619',
 '237954',
 '238139',
 '238250',
 '238737',
 '239556',
 '239613',
 '239659',
 '240954',
 '241009',
 '241157',
 '241559',
 '241607',
 '242257',
 '242444',
 '242949',
 '242958',
 '242976',
 '243375',
 '243414',
 '243955',
 '244037',
 '244149',
 '244158',
 '244251',
 '245016',
 '245276',
 '245351',
 '245557',
 '246022',
 '246134',
 '246451',
 '246657',
 '246947',
 '246956',
 '247140',
 '247355',
 '247476',
 '247551',
 '247908',
 '248240',
 '248352',
 '248455',
 '248633',
 '248745',
 '249416',
 '249612',
 '249658',
 '250430',
 '250476',
 '250850',
 '251352',
 '251558',
 '251745',
 '251978',
 '252041',
 '252452',
 '252658',
 '253356',
 '253468',
 '253646',
 '253730',
 '254317',
 '254504',
 '254849',
 '255350',
 '255547',
 '255556',
 '255574',
 '255659',
 '256058',
 '256076',
 '256179',
 '256553',
 '257233',
 '257345',
 '257578',
 '257653',
 '257756',
 '258146',
 '258306',
 '258379',
 '258539',
 '258771',
 '258874',
 '259059',
 '259330',
 '259442',
 '259956',
 '260055',
 '260831',
 '261146',
 '261360',
 '261940',
 '262059',
 '262237',
 '262358',
 '262741',
 '262844',
 '262956',
 '263243',
 '263627',
 '264455',
 '264772',
 '265340',
 '265407',
 '265452',
 '265676',
 '266066',
 '266244',
 '266253',
 '266655',
 '266851',
 '266945',
 '267652',
 '268006',
 '268136',
 '268677',
 '268828',
 '268976',
 '269049',
 '269058',
 '269571',
 '269759',
 '270148',
 '270353',
 '270504',
 '270531',
 '270652',
 '271136',
 '271275',
 '271341',
 '271529',
 '272030',
 '272058',
 '272151',
 '272272',
 '272302',
 '273336',
 '273550',
 '273653',
 '273662',
 '273840',
 '273859',
 '274025',
 '274052',
 '274548',
 '274829',
 '274856',
 '275255',
 '275358',
 '275479',
 '275657',
 '276074',
 '276159',
 '276551',
 '276579',
 '276645',
 '276654',
 '276850',
 '276953',
 '277240',
 ...]

In [5]:
df3 = df2[df2['has_filed_for_reporting_period']==True]
df3

,id_rssd,fdic_cert_number,occ_chart_number,ots_dock_number,primary_aba_rout_number,name,state,city,address,filing_type,has_filed_for_reporting_period
0,37,10057,None,16553,61107146,BANK OF HANCOCK COUNTY,GA,SPARTA,12855 BROAD STREET,051,True
1,242,3850,None,None,81220537,FIRST COMMUNITY BANK XENIA-FLORA,IL,XENIA,260 FRONT STREET,051,True
2,279,28868,None,2523,311972526,"MINEOLA COMMUNITY BANK, SSB",TX,MINEOLA,215 W BROAD,051,True
3,354,14083,None,None,101107475,BISON STATE BANK,KS,BISON,223 MAIN STREET,051,True
4,457,10202,None,None,91208332,LOWRY STATE BANK,MN,LOWRY,400 FLORENCE AVE.,051,True
...,...,...,...,...,...,...,...,...,...,...,...
4664,5805479,59346,25287,None,122402463,"BESSEMER TRUST COMPANY OF NEVADA, NATIONAL ASS...",NV,LAS VEGAS,1700 SOUTH PAVILION CENTER DRIVE SUITE...,051,True
4665,5805488,59349,25275,None,121202457,"INSPIRE TRUST COMPANY, NATIONAL ASSOCIATION",NV,RENO,241 RIDGE STREET SUITE 310,041,True
4666,5805817,59337,25237,None,91018470,CERIDIAN NATIONAL TRUST BANK,MN,BLOOMINGTON,3311 EAST OLD SHAKOPEE ROAD,051,True
4667,5859511,59344,25288,None,53012977,"TIAA TRUST, NATIONAL ASSOCIATION",NC,CHARLOTTE,8500 ANDREW CARNEGIE BOULEVARD,051,True
4668,5860740,59305,None,None,72414514,COMMUNITY UNITY BANK,MI,BIRMINGHAM,34040 WOODWARD AVENUE,051,True

In [ ]:
filers = methods.collect_filers_on_reporting_period(
    session=conn,
    creds=creds,
    reporting_period="9/30/2023",
    output_type="list"
)